@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom , pink 50%,yellow);
}
.main{
    width: 300px;
    padding: 2rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

p{
    font-size: 12px;
}
input{
    padding: 0.3rem 0.7rem;
    outline: none;
    text-transform: lowercase;
}
.btn{
    /* width: 100%; */
    padding: 0.3rem 0.7rem;
    border: none;
    cursor: pointer;
    background-color: rgb(13, 143, 179);
    color: white;
}